#root{
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 1s;
    font-size: 18px;
}
  
*{
    padding: 0;
    margin: 0;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    border-color: black;
    background-color: white;
    cursor: pointer;
}

.oliveBtn {
    border-radius: 10px;
    background-color: rgb(107, 142, 35);
    border: none;
    color: white;
}

.oliveBtn:hover {
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);
    transition-duration: 0.3s;
}

input {
    width: 100%;
}

input:focus {
    outline: none;
}

/* button:hover {
    box-shadow: 0px 0px 1.5px 3px rgba(0,0,0,0.15);
}

button:disabled {
    box-shadow: none;
} */

.centeredDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.info {
    font-style: italic;
}

.loadingScreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.messageScreen {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.messageContent {
    width: 50vw;
    height: 200px;
    position: absolute;
    background-color: white;
    font-size: larger;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}

.passwordInput {
    position: relative;
}

.passInput {
    padding-right: 32px;
}

.passIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 10px;
    z-index: 10;
    cursor: pointer;
}