.bookingsBlock {
    width: 70%;
    min-width: 700px;
    margin: auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.bookingInfo {
    width: 100%;
    /* background-color:rgb(202, 255, 150); */
    /* padding: 20px; */
    border-radius: 20px;
    border: 2px solid #b6c590;
}

.bookingDate {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
    background-color: #b6c590;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.trainerHorseDisplayBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bookingImg {
    object-fit: cover;
    height: 200px;
    max-height: 200px;
    width: 200px;
    max-width: 200px;
}

.trainerDisplayBlock, .horseDisplayBlock {
    text-align: center;
    padding-top: 5px;
}

.bookingType {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bookingComments {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    align-items: baseline;
}

.bookingCommentDisplay {
    color: #454545;
    font-style: italic;
}

.studentBookingsScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cancelBtnBlock {
    width: 100%;
    text-align: center;
}

.cancelBtn {
    margin-bottom: 20px;
    justify-self: center;
}

.canceledBadge {
    display: block;
    position: absolute;
    top: 55px;
    right: 55px;
    border: 1px solid #341005;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #341005;
}

.archivedBadge {
    display: block;
    position: absolute;
    top: 55px;
    right: 55px;
    border: 1px solid #454545;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #454545;
}

.bookingsBtnsBlock {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.bookingsBtn {
    border: none;
    color: #454545;
}

.bookingsBtn:hover {
    color: black;
    transition-duration: 0.3s;
}

.btnActive {
    color: black;
    border-bottom: solid 3px black;
    transition: border-width 0.2s ease-in-out;
}

.currentTrainingsBlock, .archiveTrainingsBlock {
    width: 100%;
    padding-bottom: 40px;
    flex: 1 1 auto;
}

.showMoreBtn {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.phoneInfoBlock {
    padding-top: 15px;
    font-weight: bold;
}