.trainingsListBlock {
    width: 100%;
    padding: 40px;
}

.dayOffBlock {
    width: 100%;
    background-color: #92000a;
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}

.backButtonBlock {
    position: absolute;
    padding: 20px;
}